<h1>About StockMarketWatch</h1>
<br/>
<h4>Investing with stocks is a very tedious activity. With this web app, the user is able to search for a stock that they are interested in and the result will be the stock's information related to if it worth to purchase or not.</h4>
<br/>
<h4>This is a basic stock watching web app created to learn and further develop the concepts of Express.js, Node.js, and working with public API's.</h4>